@media (max-width: 768px){
    .heading-primary{
        font-size: 500%;
    }
    
    .heading-tertiary{
        font-size: 180%;
    }

    i.fab{
        font-size: 1.2rem;
        padding: .8rem;
    }

    .b{
        padding-top: 5%;
        max-width: 8rem;
    }

}