footer{
    width: 100%;
    padding: 5%;
    color: white;
    
    background-color: $main-color;
}

i{
    font-size: 1.5rem;
    color: darken(white, 30%);
    padding: 1.2rem;

    transition: all .3s ease;

    &:hover,
    &:active{
        color: white;
    }
}